<% content_for :title, " - Community-Powered Clojure Documentation and Examples" %>
<div class="container_16">
	<div class="grid_15 prefix_1 suffix_1">
		<div class="overview">
			<h2 style="text-align: left">Overtone is an open source audio environment being created to explore musical ideas from synthesis and sampling to instrument building, live-coding and collaborative jamming. We use the <a href="http://supercollider.sourceforge.net/">SuperCollider</a> synth server as the audio engine, with <a href="http://clojure.org/">Clojure</a> being used to develop the APIs and the application. Synthesizers, effects, analyzers and musical generators can be programmed in <a href="http://clojure.org/">Clojure</a>.</h2>
			<br />
			<h2 style="text-align: left">Come and join the <a href="http://groups.google.com/group/overtone">Overtone Google Group</a> if you want to get involved in the project or have any questions about how you can use Overtone to make cool sounds and music.</h2>
		</div>
	</div>
	
	<div class="clear"></div>
	<br />
	<br />
</div>
<div class="other_content">
	<div class="container_16">

		<br />
		<br />
		<div class="grid_9">
			<div class="welcome_message">
				<h2>Getting started with Overtone Docs</h2>
				<p>Finding the right tool for the job can be tough, so we&apos;ve outlined a few ways to go about your search below.</p>
				<ul>
					<li class="wm_quickref">Take a look at the <a href="https://github.com/overtone/overtone/raw/master/docs/cheatsheet/overtone-cheat-sheet.pdf">Overtone cheat sheet</a>, which displays Overtone vars grouped by category.</li>
					<li class="wm_alpha">Browse an alphabetical list of vars defined in <a href="/overtone">Overtone</a>.</li>
					<li class="wm_search"><a href="/search?q=sinosc">Search</a> for something.</li>
				</ul>
			</div>

			<div class="beta_status">
			<h2>Does this site look familiar?</h2>
			<p>This site is entirely based off of the great work done by <a href="https://github.com/zkim">zkim</a> and all on <a href="http://clojuredocs.org/">ClojureDocs.org</a>. You can help out that project by joining the mailing list and getting involved - it's also totally open source so you can contribute using Github. It looks like they're undergoing a transition to a new iteration of the site, so it may be that the latest work is going in a new direction, but I'm sure they're happy for people to take an interest.</p>
			</div>
		</div>

		<div class="grid_8">



		</div>

		<div class="clear"></div>
	</div>
</div>
